
#delete{
    background-color: rgb(223, 45, 45);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;

}
#delete:hover{
    background-color: rgb(219, 143, 29);
}


/* .delete{

    position: relative;
    display: inline-block;
    margin: 30px auto;
    padding: 0.5%;

    overflow: hidden;

    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-display: inline block;

    background-color: #f83b3b;
    color: #ecf0f1;

    transition: background-color 0.3s;
}

.delete:hover,
.delete:focus {
    background-color: #e6a836;
}

.delete > * {
    position: relative;
}

.delete span {
    display: block;
    padding: 12px 24px;
}

.delete:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, 0.3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.delete:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */